<% provide(:title, 'Contact') %>
    <h1>About Us</h1>
    <p>
      Contact Author at <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the sample application for the tutorial.
    </p>
  